<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=}, initial-scale=1.0">
  <title>My messages</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1> List of messages of <%= email %> </h1>
  <ul>
    <% messages.map( (message) => { %>
      <% if (message.type === "user") { %>
        <li style= "display: flex; width:50%; justify-content: space-around">
          <p><%=message.email%> : <%=message.message%> </p>
          <p> date: <%=message.date%> </p>
        </li>
      <% } else { %>
        <hr>
        <li style= "display: flex; width:50%; justify-content: space-around">
          <p> System: <%=message.message%> </p>
          <p> date: <%=message.date%> - answered to <%=message.email%> </p>
        </li>
        <hr>
      <% } %>
    <% }) %>
    
    <a href="/chat"> Go to all messages </a>

  </ul>
</body>
</html>