<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=ul, initial-scale=1.0">
  <title>Options</title>
</head>
<body>
  <h1>Options</h1>
  <ul>
    <li>
      <p>Port: <%=options.port %></p>
    </li>
    <li>
      <p>Token Expiring Time: <%=options.tokenExpiringTime %></p>
    </li>
    <li>
      <p>Data Base Users: <%=options.dataBaseUsers %></p>
    </li>
    <li>
      <p>Data Base Products: <%=options.dataBaseProducts %></p>
    </li>
    <li>
      <p>Data Base Carts: <%=options.dataBaseCarts %></p>
    </li>
    <li>
      <p>Data Base Orders: <%=options.dataBaseOrders %></p>
    </li>
    <li>
      <p>Data Base Messages: <%=options.dataBaseMessages %></p>
    </li>
    <li>
      <p>Email Reciever: <%=options.emailReciever %></p>
    </li>
    <li>
      <p>Email Admin: <%=options.emailAdmin %></p>
    </li>
    <li>
      <p>Enviroment: <%=options.enviroment %></p>
    </li>
  </ul>

  <a href="/products"> Go to products</a>
</body>
</html>